@import "tailwindcss";

@theme {
  --font-sans: var(--font-alpino), sans-serif;

  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  --animate-slide-left: slide-left 2s ease-in-out infinite;
  --animate-spin-slow: spin 6s linear infinite;

  --color-mint-500: oklch(0.72 0.11 178);
}
